/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .widget.ql_posts_widget {
 	padding: 0.5em 1em 1em;
 	background: #fff;
 }

 .ql_posts_widget .widget-title {
 	padding-bottom: 0.5em;
 	margin-bottom: 0.5em;
 	border-bottom: 1px solid #ddd;
 }

.ql-posts-widget .entry-title {
	font-size: 16px;
	line-height: normal;
	margin: 0;
}

.ql-posts-widget .ql-post {
	margin-top: 1em;
	overflow: hidden;
}

.ql-posts-widget .pull-left {
	float: left;
	margin-right: 8px;
	border: 1px solid #ddd;
}

.ql-posts-widget .ql-post-body {
	display: table-cell;
	vertical-align: top;
}

.ql-posts-widget .entry-meta {
	color: #888;
	font-size: 85%;
}